<!DOCTYPE html>
<html lang="en">
    <header>
        <title>
            DMT Express
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="x-clacks-overhead" content="GNU Terry Pratchett">
    </header>
    <body>
        <div>
            <form id="diverForm" action="/drivers/add" method="post">
                <label for="name">Driver name:</label>
                <input type="text" id="driverName" name="name" placeholder="Driver name"> 
                <label for="age">Driver age:</label>
                <input type="number" id="driverAge" name="age" placeholder="Driver age">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div>
            <form id="getDrivers" action="/drivers/get" method="get">
                <input type="submit" value="Get drivers">
            </form>
        </div>
        <div>
            <form id="addClientForm" action="/clients/add" method="post">
                <label for="name">Client name:</label>
                <input type="text" id="clientName" name="clientid" placeholder="Client name"> 
                <input type="text" id="locationCountry" name="country" placeholder="Location country">
                <input type="text" id="locationCity" name="city" placeholder="Location city">
                <input type="text" id="locationZip" name="zip" placeholder="Location zip">
                <input type="text" id="locationStreet" name="street" placeholder="Location street">
                <input type="text" id="locationNumber" name="number" placeholder="Location number">
                <input type="text" id="locationLabel" name="label" placeholder="Location label">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div>
            <form id="getClients" action="/clients/get" method="get">
                <input type="submit" value="Get clients">
            </form>
        </div>
        <div>
            <form id="getClientLocations" action="/clients/list" method="post">
                <input type="text" id="clientId" name="clientid" placeholder="Client id">
                <input type="submit" value="Get client locations">
            </form>
        </div>
        <div>
            <form id="postDelivery" action="/deliveries/add" method="post">
                <input type="text" id="clientId" name="client" placeholder="Client id">
                <input type="text" id="driverId" name="driver" placeholder="Driver id">
                
                <input type="text" id="locationCountry" name="country" placeholder="pickup country">
                <input type="text" id="locationCity" name="city" placeholder="pickup city">
                <input type="text" id="locationZip" name="zip" placeholder="pickup zip">
                <input type="text" id="locationStreet" name="street" placeholder="pickup street">
                <input type="text" id="locationNumber" name="number" placeholder="pickup number">

                <input type="text" id="locationCountry" name="dcountry" placeholder="drop country">
                <input type="text" id="locationCity" name="dcity" placeholder="drop city">
                <input type="text" id="locationZip" name="dzip" placeholder="drop zip">
                <input type="text" id="locationStreet" name="dstreet" placeholder="drop street">
                <input type="text" id="locationNumber" name="dnumber" placeholder="drop number">
                <input type="submit" value="Add Delivery">
            </form>
            <form action="/deliveries" method="get">
                <input type="submit" value="Get deliveries">
            </form>
        </div>
    </body>
</html>
